option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 512M
    max_execution_time: 300
    max_input_time: 300
    post_max_size: 50M
    upload_max_filesize: 50M
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: false
    CACHE_DRIVER: database
    SESSION_DRIVER: database
    QUEUE_DRIVER: database

container_commands:
  01_composer_install:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar install --optimize-autoloader --no-dev"
    cwd: "/var/app/ondeck"
    leader_only: true
  02_artisan_migrate:
    command: "php artisan migrate --force"
    cwd: "/var/app/ondeck"
    leader_only: true
  03_artisan_config_cache:
    command: "php artisan config:cache"
    cwd: "/var/app/ondeck"
    leader_only: true
  04_artisan_route_cache:
    command: "php artisan route:cache"
    cwd: "/var/app/ondeck"
    leader_only: true